.coreteam {
  margin-top: #{scaleValue(130)};
  padding-bottom: #{scaleValue(350)};

  &__title {

    &--h2 {
      text-align: center;
      font-size: #{scaleValue(30)};
      text-transform: uppercase;
      margin-bottom: #{scaleValue(60)};
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: #{scaleValue(330)};

    & figure {
      width: 100%;
      height: #{scaleValue(330)};
      overflow: hidden;
      border-radius: 1rem;

      & img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }

    &--labels {
      display: inline-block;
      margin-top: #{scaleValue(30)};

      & p {
        font-size: #{scaleValue(18)};

        &.role {
          opacity: .6;
          font-size: #{scaleValue(15)} !important;
        }
      }
    }

    &--name {
      display: flex;
      align-items: center;

      & p {
        margin-right: #{scaleValue(10)};
      }

      & a {
        text-decoration: none;

        & svg {
          height: #{scaleValue(15)};
          width: #{scaleValue(15)};
          fill: #fff;
        }
      }
    }
  }
}