@keyframes hovermobile {
  0% {
    transform: translateY(#{scaleValue(-30)});
  }
  
  100% {
    transform: translateY(#{scaleValue(0)});
  }
}

.mobilejumbotron {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: #{scaleValue(520)};

  &__header {

    & h1 {
      text-transform: uppercase;
      font-size: #{scaleValue(120)};
      margin-bottom: #{scaleValue(200)};
      font-weight: 500;
    }
  }

  &__nftsample {
    position: relative;
    display: flex;
    justify-content: center;
    height: #{scaleValue(1200)};
    width: #{scaleValue(1200)};
    margin-bottom: #{scaleValue(250)};

    & figure {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: #{scaleValue(1200)};
      width: #{scaleValue(1200)};
      animation: hovermobile 1s ease-in-out infinite alternate;

      &:nth-child(2) {
        //opacity: 0;
        
        & img {
          height: #{scaleValue(1000)};
          width: #{scaleValue(1000)};
          border-radius: 1rem;
        }
      }

      & img {
        object-fit: cover;
      }
    }
  }

  &__learnmore {
    margin-top: #{scaleValue(200)};

    & button {
      outline: none;
      cursor: pointer;
      border: none;
      background: linear-gradient(to right bottom,rgba(155, 81, 224, 1),rgba(48, 129, 237, 0.8));
      border-radius: .5rem;
      padding: #{scaleValue(47)} #{scaleValue(130)};
      font-size: #{scaleValue(70)}
    }
  }
}