.mobileheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: #{scaleValue(130)} #{scaleValue(90)};
  position: fixed;
  z-index: 7;
  width: 100vw;
  height: #{scaleValue(130)};
  left: 0;
  top: 0;
  background: #1F1D2B;

  &__left {

    & figure {
      width: #{scaleValue(600)};
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: center;

    & span {
      display: inline-block;
      background: #fff;
      margin-bottom: #{scaleValue(27)};
      height: #{scaleValue(15)};
      width: #{scaleValue(140)};
      border-radius: 2rem;
    }
  }

  &__sidenav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(#1F1D2B, .4);
    transform: translateX(-100%);
    transition: all .3s ease-in;

    &--body {
      height: 100%;
      width: #{scaleValue(1200)};
      background: #1F1D2B;
      padding: #{scaleValue(130)};
    }

    &.open {
      transform: translateX(0);
    }

    & figure {
      width: #{scaleValue(600)};
    }
  }

  &__sidenavitems {
    margin-top: #{scaleValue(400)};
  }

  &__sidenavitem {
    text-transform: uppercase;
    margin-bottom: #{scaleValue(100)};
    font-size: #{scaleValue(86)};

    &--socials {
      margin-top: #{scaleValue(300)};
    }

    &--social {

      & svg {
        height: #{scaleValue(150)};
        width: #{scaleValue(150)};
        fill: rgb(29, 155, 240);
      }
    }
  }
}