.mobilecoreteam {
  margin-top: #{scaleValue(290)};

  &__h2 {
    font-size: #{scaleValue(130)};
    margin-bottom: #{scaleValue(100)};
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
  }

  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: #{scaleValue(140)};

    &:nth-child(4) {
      margin-bottom: 0;
    }

    &--fig {
      height: #{scaleValue(900)};
      width: #{scaleValue(900)};
      border-radius: 1rem;
      overflow: hidden;
      margin-bottom: #{scaleValue(85)};

      & img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }

    &--labels {
      display: inline-block;

      & p {
        text-align: left;
        font-size: #{scaleValue(80)};
      }
    }

    &--name {
      display: flex;
      align-items: center;
      text-decoration: none;

      & p {
        margin-right: #{scaleValue(40)};
      }

      & span {
        text-decoration: none;

        & svg {
          fill: #F2F2F2;
          height: #{scaleValue(100)};
          width: #{scaleValue(100)};
        }
      }
    }

    &--role {
      width: #{scaleValue(850)};
      opacity: .6;
      font-size: #{scaleValue(70)} !important;
    }
  }
}